[Unit]
Description=Check Boot Success and Mark Boot Failure if Needed for Shani OS
After=mark-boot-success.service data.mount

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check-boot-failure

[Install]
WantedBy=multi-user.target

