[Unit]
Description=Check Boot Success and Mark Boot Failure if Needed for Shani OS
After=data.mount
ConditionPathExists=/data/boot_in_progress

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check-boot-failure

[Install]
WantedBy=multi-user.target


