[Unit]
Description=Run Boot Failure Check 15 Minutes After Boot
After=multi-user.target

[Timer]
OnBootSec=15m
Unit=check-boot-failure.service

[Install]
WantedBy=timers.target

