[Unit]
Description=Update Flatpak (System)
# Remove network-online.target dependency

[Service]
Type=oneshot
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

ExecStart=/usr/bin/flatpak update --noninteractive --assumeyes --system
ExecStartPost=/usr/bin/flatpak uninstall --unused --delete-data --noninteractive --assumeyes --system
