[Unit]
Description=Mark Boot In Progress for Shani OS
DefaultDependencies=no
After=data.mount
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'rm -f /data/boot-ok /data/boot_failure && touch /data/boot_in_progress'
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target

