[Unit]
Description=Mark Boot Success for Shani OS
After=multi-user.target data.mount
ConditionPathExists=/data/boot_in_progress

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'touch /data/boot-ok && rm -f /data/boot_in_progress'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
