[Unit]
Description=Update Flatpak (User)

[Service]
Type=oneshot
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

ExecStart=/usr/bin/flatpak update --noninteractive --assumeyes --user
ExecStartPost=/usr/bin/flatpak uninstall --unused --delete-data --noninteractive --assumeyes --user
