[Unit]
Description=Run Shani OS Update Check every 2 hours

[Timer]
# Start 5 minutes after boot
OnBootSec=5min
# Run every 2 hours
OnUnitActiveSec=2h
Unit=shani-update.service

[Install]
WantedBy=timers.target
