[Unit]
Description=Shani OS Update Check UI
After=graphical-session.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# For Wayland, if using XWayland, DISPLAY may still be set.
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/shani-update
TimeoutSec=0

[Install]
WantedBy=default.target
